#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  border: 2px solid white;
  margin-top: 30px;
  width: 500px;
  text-align: center;
}
.authBtn {
  margin-top: 20px;
}

h4 {
  width: 100%;
}

p {
  width: 100%;

}

.tokenContainer {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  word-wrap: normal;
  overflow: hidden;

}

.tokenTxt {
  border: none;
  word-wrap: break-word;
  overflow: scroll;
  overflow-wrap: break-word;
  height: max-content;
  padding: 25px;
  box-sizing: border-box;
  margin: 0;

}

.clearBtn {
  margin: 20px;
}